.mainbox {
    width: 100%;
    margin: auto;
    border: red 3px solid;
    height: 70vh;
    
}

.sidebar {
    width: 15%;
    border: red 3px solid;
    height: 70vh;
    float: left;
}
.box1 {
    width: 19.3%;
    border: red 3px solid;
    height: 20vh;
    float: left;
    margin-left: 20px;
    
    
}
.box2 {
    width: 19.3%;
    border: red 3px solid;
    height: 20vh;
    float: left;
    margin-left: 20px;
}
.box3 {
    width: 19.3%;
    border: red 3px solid;
    height: 20vh;
    float: left;
    margin-left: 20px;
}

.box4 {
    width: 19.3%;
    border: red 3px solid;
    height: 20vh;
    float: left;
    margin-left: 20px;
}


.midlleupper {
  float: left;
  width: 40.3%;
  margin-top: 20px;
  margin-left: 20px;
}

.box5 {
  width: 100%;
  height: 8.3vh;
  border: 3px solid red;
  margin-bottom: 20px;
}

.box6 {
  width: 100%;
  height: 8.3vh;
  border: 3px solid red;
  margin-bottom: 20px;
  margin-bottom: 0px;
}

.box7 {
    width: 40%;
    border: red 3px solid;
    height: 20vh;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
}

.box8 {
    width: 60%;
    border: red 3px solid;
    height: 20vh;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
}

.box9 {
    width: 20%;
    border: red 3px solid;
    height: 20vh;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
}

/*תצוגת מובייל*/
@media (max-width: 750px) {
    .box1, .box2, .box3, .box4, .box7, .box8, .box9, .midlleupper, .sidebar {
        width: 100%;
        margin-left: 0;
        float: none;
    }
  
    .sidebar,
  .box1, .box2, .box3, .box4,
  .midlleupper,
  .box7, .box8, .box9 {
    margin-bottom: 20px;
  }
}
